<div class='container'>
    <h1><b>REMOVE QUESTIONS</b></h1>
    <hr/>
    <form class="form-horizontal" #userform='ngForm'(ngSubmit)='deleteQuestion(Question.Question_id)'>
     
<div class='form-group'>
    <label class="control-label col-sm-2 "for ='id' >Question_id</label>
    <input type='text' id='id' name='id' required [(ngModel)]='Question.Question_id'/>

</div>

<br>
<br>
<div class="form-group">        
    <div class="col-sm-offset-2 col-sm-10">
    <button type='submit' class="btn btn-info" [disabled]='userform.invalid' >Delete</button>&nbsp;&nbsp;
    

</div>
</div>
    </form>

    <footer class="bg-light text-center text-md-start " style="position:relative;width: 100%;bottom:0; background-color:lightgray ;">
        <!-- Copyright -->
        <div class="w3-medium w3-padding-30 bg dark">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        
        <br>
          © 2020 Copyright:
          <a class="text-dark" href="https://mdbootstrap.com/">Techno Write</a>
        </div>
        <!-- Copyright -->
      </footer>
</div>
